<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <title>Footer</title>
</head>
<body>

<footer id="site-footer" class="footer">
    <div class="footer-div">
        <p>&copy; 2024 CB. All Rights Reserved.</p>
        <p>Powered by Spring Boot and Thymeleaf</p>
    </div>
</footer>

</body>
</html>