<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<header id="site-header" class="header">
    <div class="header-div">
        <button class="dashboard-button" onclick="window.location.href='/dashboard'">Dashboard</button>
        <button class="logout-button" onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>
</body>
</html>